body {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.componenets ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.componenets ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* PRODUCT SECTION */
.product-details-section {
  padding: 40px 0;
}

.product-big-img {
  width: 100%;
  border-radius: 10px;
}

.thumb-row {
  display: flex;
  gap: 15px;
}

.thumb {
  width: 80px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
}

.thumb.active,
.thumb:hover {
  opacity: 1;
  border-color: #0d9b48;
}

/* RIGHT SIDE INFO */
.product-info h1 {
  font-size: 42px;
  font-weight: 800;
}

.vendor {
  margin: 10px 0;
  color: #777;
}

.product-info i {
  color: #ffaa32;
}

.price {
  font-size: 32px;
  color: #000;
  font-weight: 900;
}

.in-stock {
  color: #0d9b48;
  font-size: 18px;
}

.desc {
  margin-top: 15px;
  font-size: 16px;
  color: #555;
}

.product-meta li {
  list-style: none;
  margin: 8px 0;
  font-size: 15px;
}

.product-meta i {
  color: #0d9b48;
}

/* CART ROW */
.cart-row {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

.qty-btn {
  width: 40px;
  height: 40px;
  font-size: 22px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}

.qty-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-cart-btn {
  background: #0d9b48;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
}

/* TAGS */
.tag-btn {
  background: #f3f3f3;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-left: 5px;
}

.category,
.tags {
  margin-top: 15px;
}


